<div class="ourClass">
  <img style="background-size: cover; position: relative; width: 100%;" src="assets/images/class-bg.jpg"/>
  <img style="position:absolute; left:5%; top: 54.5%;" src="assets/images/class-bg1.png" class="move1"/>
  <img style="position:absolute;left:13%; top: 20%;" src="assets/images/class-bg2.png" class="move2"/>
  <img style="position:absolute;left:10%; top: 45%;" src="assets/images/class-bg3.svg"/>
  <h1 style="position:absolute;left:12%; top: 37%; color: white;">Classes</h1>
  <nav style="position:absolute;left:12%; top: 45%;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Gymate</a></li>
      <li class="breadcrumb-item"><a routerLink="/classes">classes</a></li>
      <li class="breadcrumb-item" style="color: #FF0336;">Details</li>
    </ol>
  </nav>
</div>
